/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2022, 10:02:58 PM
    Author     : Admin
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Dancing+Script:wght@500;600&family=Fredericka+the+Great&family=Indie+Flower&family=Kanit&family=Radio+Canada&family=Roboto:ital,wght@0,100;1,100&family=Ubuntu&family=Yanone+Kaffeesatz:wght@300&display=swap');
:root{
    --title-color:rgb(126, 117, 117);
    --text-color:#fff;
    --text-size: 1.5rem;
    --background-color:rgb(230, 153, 29);
}
h4{
    color: rgb(228, 144, 10);
    text-decoration-color:rgb(243, 66, 8) ;
    text-decoration-line:underline ;
}
.container-fluid{
    width:100vw;
    height:100vh;
}
.wrapper{
    width:100%;
    height:100%;
}

.admin-logo{
    width:100%;
    height:150px;
    text-align:center;
}
.account-title{
    font-size:1.3rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
.admin-account{
    background-color:rgb(230, 153, 29);
    width:100%;
    text-align:center;
    padding: 10px 0;
    font-size: 1.5rem;
    position: relative;
    height:60px;
    cursor: pointer;
    border-top: 2px solid rgb(234, 227, 216);
    border-bottom: 2px solid rgb(234, 227, 216);
    color:#fff;
}
.account-detail{
    padding:10px 0;
    position:absolute;
    top:70px;
    width:100%;
}
.account-detail::after{
    content:"";
    position:absolute;
    width:100%;
    height:20px;
    background-color:transparent;
    left: 0;
    top:-10px;
}
.account-admin-detail{
    height:100%;
    display: none;
}
.account-admin-detail::after{
    content: "";
    position: absolute;
    width:5px;
    height:5px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent blue transparent;
    top: 40px;
    right: 20px;
}
.admin-block{
    margin-bottom: 30px;
}
.overview-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--text-size);
}
.overview-page{
    text-align: center;
    padding:10px 0 ;
    border-top: 2px solid rgb(234, 227, 216);
    border-bottom: 2px solid rgb(234, 227, 216);
}
.dashboard-title{
    width:100%;
    padding:15px 30px;
    font-size: 2.3rem;
    margin-bottom: 50px;
}
.dashboard-item{
    display:flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.8rem;
    height: 150px;
    box-shadow: 5px 3px 30px 2px rgba(167, 166, 166, 0.756);
    margin-bottom: 30px;
    border-radius:20px;
}
.item-title{
    display:block !important;
}
.item-infor{
    text-align:center;
}
.item-icon{
    font-size: 3rem !important;
}
.dashboard-overview{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}
.create-form{
    text-align:left !important;
}
.pages-wrapper{
    display: flex;
    justify-content:center;
    
}
.list-page{
    list-style: none;
    width: 100%;
    padding-left: 0;
 
}
.page-link{
    /* background-color:var(--background-color) !important; */
    padding: 20px 0;
    border: none !important;

}
.page-item{
    border-top: 2px solid rgb(234, 227, 216);
    border-bottom: 2px solid rgb(234, 227, 216);
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.page-item:hover .page-link{
    background-color:var(--background-color) !important;
    color:var(--text-color);
}
.table-head-link{
    text-decoration: none;
    color: #333;
}
.sorting-element{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-action{
    width: 70px;
}

